* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f0f3f9;
    color: #000000;
    padding-bottom: 100px;
}


.top-nav {
    position: absolute;
    top: 20px;
    right: 25px;
}

.top-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.top-nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s;
}


.left-links {
    position: absolute;
    top: 20px;
    left: 25px;
}


.left-links a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s;
}


.masthead {
    text-align: center;
    padding: 80px 20px 40px;
    background: linear-gradient(to bottom right, #6b3939, #b05c5c);
    border-bottom: 4px solid #410a0a;
}

.masthead h1 {
    font-size: 3rem;
    font-weight: 800;
}

.subheading {
    max-width: 700px;
    margin: 15px auto 0;
    font-size: 1.1rem;
}


.content {
    background: white;
    margin: 40px auto;
    padding: 30px;
    width: 85%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.list-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dest {
    background: #f7faff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-align: center;
}

.dest h3 {
    margin-bottom: 10px;
}


img {
    display: block;
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 14px;
}


iframe {
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffae73;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
}

#tableau {
    min-height: 600px;
}

.tableauPlaceholder,
.tableauPlaceholder object {
    width: 100% !important;
    height: 550px !important;
}

